{% extends 'Pandas/base.html' %}

{% block content %}
    <style>
        .post-content {
            opacity: 0.8;
            top: 0;
            right: 0;
            margin: 10px;
            margin-right: 25px;
            width: 30px;
            height: 30px;
            position: absolute;
        }

        .thumbnail {
            position: relative;
            min-height: 131px;
            min-width: 204px;
        }
    </style>
    <div class="jumbotron">
        <div class="container text-center">
            <h2>{{ tutorial.title }}</h2>
            <p>{{ tutorial.description }}</p>
        </div>
    </div>
    <div class="container-fluid bg-3 text-center">
        <div class="row">
            <h3>Episodes <i>{{ allEpisodesCount }}</i><b> / {{ tutorial.episodes_count }}</b></h3><br><br>
            {% if allEpisodesCount > 0 %}
                <div class="container">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Video</th>
                            <th>Title</th>
                            <th>Description</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for video in videos %}
                            <tr>
                                {#                {% autoescape off %}{{ video.link_youtube|safe }}{% endautoescape %}#}
                                <td>
                                    <iframe width="400" height="215"
                                            src="https://www.youtube.com/embed/{{ video.youtube_link}}"
                                            frameborder="0" allowfullscreen></iframe>
                                </td>
                                <td><b>{{ video.title }}</b></td>
                                <td style="">{{ video.description }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% else %}
                <div class="alert alert-info" style="margin: 100px;">
                    <h1><strong>Info!</strong> This course currently has no episodes, please comeback later!</h1>
                </div>
            {% endif %}
        </div>
    </div><br>

{% endblock %}